In [1]:
import numpy as np
import pandas as pd
from fbprophet import Prophet

In [13]:
df = pd.read_csv("/content/Inflation Rate  (montly).csv")
df.head(2)

         year  inflation_rate
0  1980-01-31          11.346
1  1980-02-29          11.455

In [14]:
df['year'] = pd.to_datetime(df['year'])

In [25]:
df = df[['year', 'inflation_rate']].reset_index(drop=True)
df.rename(columns={'year':'ds', 'inflation_rate':'y'}, inplace=True)
df.head(2)

          ds       y
0 1980-01-31  11.346
1 1980-02-29  11.455

In [42]:
df

            ds        y
0   1980-01-31  11.3460
1   1980-02-29  11.4550
2   1980-03-31  11.5640
3   1980-04-30  11.6730
4   1980-05-31  11.7820
..         ...      ...
488 2020-09-30   5.7630
489 2020-10-31   5.7115
490 2020-11-30   5.6600
491 2020-12-31   5.6085
492 2021-01-31   5.5570

[493 rows x 2 columns]

In [27]:
train=df.head(345)
test=df.tail(148)
train

            ds         y
0   1980-01-31  11.34600
1   1980-02-29  11.45500
2   1980-03-31  11.56400
3   1980-04-30  11.67300
4   1980-05-31  11.78200
..         ...       ...
340 2008-05-31  10.16400
341 2008-06-30  10.43275
342 2008-07-31  10.70150
343 2008-08-31  10.97025
344 2008-09-30  11.23900

[345 rows x 2 columns]

In [28]:
m = Prophet()
m.fit(train)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [29]:
future = m.make_future_dataframe(periods=148)
future.tail(2)

            ds
491 2009-02-24
492 2009-02-25

In [30]:
forecast = m.predict(future)

In [31]:
forecast.head(2)

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,1980-01-31,10.058932,7.146362,13.156516,10.058932,10.058932,-0.047575,-0.047575,-0.047575,-0.047575,-0.047575,-0.047575,0.0,0.0,0.0,10.011356
1,1980-02-29,10.048557,7.087842,12.973364,10.048557,10.048557,-0.024815,-0.024815,-0.024815,-0.024815,-0.024815,-0.024815,0.0,0.0,0.0,10.023742

In [32]:
abc=forecast['yhat']

In [33]:
result=abc.tail(148)
result

345    5.832486
346    5.883474
347    5.937077
348    5.992336
349    6.048210
         ...
488    5.844668
489    5.804377
490    5.764557
491    5.726102
492    5.689834
Name: yhat, Length: 148, dtype: float64

In [34]:
def RMSE(org, pred):
    rmse=np.sqrt(np.mean((np.array(org)-np.array(pred))**2))
    return rmse

In [35]:
rmse_prophet_model = RMSE(test['y'], result)
rmse_prophet_model

2.8906310978564043

In [43]:
model = Prophet()
model.fit(df)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [44]:
future = m.make_future_dataframe(periods=11)
future.tail(2)

            ds
354 2008-10-10
355 2008-10-11

In [38]:
forecast1 = model.predict(future)

In [40]:
forecast1

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,1980-01-31,9.936079,6.850599,12.993990,9.936079,9.936079,0.012650,0.012650,0.012650,0.012650,0.012650,0.012650,0.0,0.0,0.0,9.948730
1,1980-02-29,9.926509,6.964638,13.100307,9.926509,9.926509,0.007513,0.007513,0.007513,0.007513,0.007513,0.007513,0.0,0.0,0.0,9.934022
2,1980-03-31,9.916278,7.021885,12.906284,9.916278,9.916278,0.007700,0.007700,0.007700,0.007700,0.007700,0.007700,0.0,0.0,0.0,9.923977
3,1980-04-30,9.906377,6.474908,13.220783,9.906377,9.906377,0.010606,0.010606,0.010606,0.010606,0.010606,0.010606,0.0,0.0,0.0,9.916983
4,1980-05-31,9.896146,6.676168,13.048880,9.896146,9.896146,0.006751,0.006751,0.006751,0.006751,0.006751,0.006751,0.0,0.0,0.0,9.902897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,2008-10-07,6.748704,3.388834,9.893037,6.748704,6.748704,-0.014165,-0.014165,-0.014165,-0.014165,-0.014165,-0.014165,0.0,0.0,0.0,6.734539
352,2008-10-08,6.748477,3.773489,9.993366,6.748477,6.748477,-0.013399,-0.013399,-0.013399,-0.013399,-0.013399,-0.013399,0.0,0.0,0.0,6.735078
353,2008-10-09,6.748251,3.479062,9.842804,6.748251,6.748251,-0.012029,-0.012029,-0.012029,-0.012029,-0.012029,-0.012029,0.0,0.0,0.0,6.736222
354,2008-10-10,6.748025,3.333334,9.821437,6.748025,6.748025,-0.010064,-0.010064,-0.010064,-0.010064,-0.010064,-0.010064,0.0,0.0,0.0,6.737961
355,2008-10-11,6.747798,3.596282,9.961635,6.747798,6.747798,-0.007539,-0.007539,-0.007539,-0.007539,-0.007539,-0.007539,0.0,0.0,0.0,6.740259